body {
    text-align: center;
}

#from_language, #to_language {
    width: 48%;
    box-sizing: border-box;
}

#language_fields_container {
    display: flex;
    justify-content: space-between;
}

#input {
    width: 100%;
    box-sizing: border-box;
}

#fields_container {
    width: 20rem;
    margin: auto;
}

#translated_text_container {
    /* Don't use the monospace default. */
    font-family: inherit;

    /* Remove the default top and bottom margins. */
    margin: 0;

    /* Make it not take the whole width. */
    display: inline-block;

    /* Align the translated text to the start. */
    text-align: start;
}
