@media (prefers-color-scheme: dark) {
    body {
        background-color: #10100E;
        color: #C6C6C4;
    }

    a {
        color: darkcyan;
    }

    a:visited {
        color: cyan;
    }

    #input, #from_language, #to_language, button {
        background-color: #222222;
        color: #bbbbbb;
    }

    button {
        border: 1px solid #aaaaaa;
    }
}

* {
    font-family: sans;
}

body {
    text-align: center;
}

#from_language, #to_language {
    width: 42%;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 2px 5px;
}

#language_fields_container {
    display: flex;
    justify-content: space-between;
}

#input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 15px;
}

#fields_container {
    width: 20rem;
    margin: auto;
}

#translated_text_container {
    /* Don't use the monospace default. */
    font-family: inherit;

    /* Remove the default top and bottom margins. */
    margin: 0;

    /* Make it not take the whole width. */
    display: inline-block;

    /* Align the translated text to the start. */
    text-align: start;

    /* Fix overflow (e.g. on mobile) */
    white-space: pre-wrap;
    word-break: break-word;
}

button {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px 20px;
}

#switchbutton {
    padding: 5px 5px;
    margin: 0px 5px;
}

#typingiscoolbutton {
    margin-top: 5px;
    padding: 5px 5px;
}

button:hover {
    border: 1px solid #aaaaaa;
}

