<!DOCTYPE html>
<html>
    <head>
        <title>SimplyTranslate - Info</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="description" content="Experience simple and private Google translations">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <style>
        body {
            max-width: 800px;
            margin: 10px auto;
        }

        @media screen and (prefers-color-scheme: dark) {
            body {
                background-color: #212529;
                color: #f8f9fa;
            }

            a:visited {
                color: #9759f6;
            }

            a {
                color: #599bf6;
            }
        }
        </style>
    </head>

    <body>
        <h2>SimplyTranslate</h2>
        <a href="https://git.sr.ht/~metalune/simplytranslate_web">Source Code</a>

        <h3>About</h3>
        <p>SimplyTranslate is part of the Simple Web project.</p>
        <p>We aim to provide fast and private translations to the user without wasting much overhead for extensive styling or JavaScript</p>
        <p>The interface is designed to be fully compatible with all kinds of web browsers, including text-based ones.</p>

        <h3>Contact & Support</h3>
        <p>You can contact us and give feedback/get support here:</p>
        #simple-web on <a href="https://libera.chat">Libera.Chat</a>

        <h3>Main Contributors</h3>
        <ul>
            <li>fattalion</li>
            <li>yyp</li>
            <li><a href="https://joelchrono12.ml">joelchrono12 (favicon)</a></li>
            <li>metalune</li>
        </ul>

        <h3>Other Projects Like This</h3>
        <ul>
            <li><a href="https://gtranslate.metalune.xyz">gtranslate</a> - <a href="https://git.sr.ht/~yerinalexey/gtranslate">Source Code</a></li>
            <li><a href="https://lingva.ml">Lingva Translate</a> - <a href="https://github.com/TheDavidDelta/lingva-translate">Source Code</a></li>
        </ul>
        <br>
        <br>

        <a href="/">Back To The Translator</a>
    </body>
</html>
