<!doctype html>

{% macro lang_option(lang_name, current_lang) %}
    <option value="{{ lang_name }}" {{ 'selected' if current_lang == lang_name else '' }}>{{ lang_name }}</option>
{% endmacro %}

{% macro supported_lang_options(current_lang) %}
    {% for lang_name in supported_languages.keys() %}
        {{ lang_option(lang_name, current_lang) }}
    {% endfor %}
{% endmacro %}
<html>
    <head>
        <title>SimplyTranslate</title>
        <link rel="stylesheet" href="/static/home.css">
        <meta name="description" content="Experience simple and private Google translations">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>SimplyTranslate</h1>

        <form action="/?engine={{ engine }}&typingiscool={{ use_text_fields }}" method="POST">
            Translation Engine:

            <a href="/?engine=google&typingiscool={{ use_text_fields }}">Google</a>
            |
            <a href="/?engine=libre&typingiscool={{ use_text_fields }}">LibreTranslate</a>

            <br>
            <br>

            <div id="fields_container">
                <div id="language_fields_container">
                    {% if use_text_fields %}
                        <input type="text" id="from_language" name="from_language" value="{{ from_l }}" placeholder="from" />
                    {% else %}
                        <select name="from_language" id="from_language">
                            {{ lang_option('Autodetect', from_l) }}
                            {{ supported_lang_options(from_l) }}
                        </select>
                    {% endif %}

                    <button id="switchbutton" title="Switch input and output languages" formaction="/switchlanguages/?engine={{ engine }}&typingiscool={{ use_text_fields }}" type="submit"><-></button>
                        
                    {% if use_text_fields %}
                        <input type="text" id="to_language" name="to_language" value="{{ to_l }}" placeholder="to" />
                    {% else %}
                        <select name="to_language" id="to_language">
                            {{ supported_lang_options(to_l) }}
                        </select>
                    {% endif %}
                </div>

                <button id="typingiscoolbutton" formaction="/typingiscool/?engine={{ engine }}&typingiscool={{ use_text_fields }}" type="submit">
                    {% if use_text_fields %}
                        Use dropdowns
                    {% else %}
                        Use text fields
                    {% endif %}
                </button>


                <br>

                <textarea autofocus id="input" name="input" rows="5" placeholder="text you want to translate">{{ inp }}</textarea>
            </div>

            <br>

	    <button type="submit">Translate with {{ engine }}!</button>
        </form>

        <br>

        {% if translation %}
            <b>Translation ({{ engine }}):</b>
            {# This is wrapped in a `div` so that we can center it while keeping the
            text left-aligned.
            #}
            <div><pre id="translated_text_container">{{ translation }}</pre></div>
            <br>
            <a href="/?engine={{ engine }}&text={{ inp|urlencode }}&sl={{ from_l_code }}&tl={{ to_l_code }}">Copy this link to share this translation with others</a>
        {% endif %}

        <br>
        <br>
        <br>
        
        <footer>
            <a href="/about">About</a>
        </footer>
    </body>
</html>
